In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
os.getcwd()

'C:\\Users\\SUDHARSHAN'

In [5]:
os.chdir("F:\TopMentor_DataScience\Batch 103 Day 31");

In [6]:
os.getcwd()

'F:\\TopMentor_DataScience\\Batch 103 Day 31'

In [17]:
df1=pd.read_excel("Data Preprocessing Data File.xlsx")
df1

   Country   Age   Salary  Purchased
0   France   44.0  72000.0         No
1       NaN  27.0  48000.0        Yes
2  Germany    NaN  54000.0         No
3    Spain   39.0      NaN         No
4  Germany    NaN  64000.0        Yes
5   France   35.0  58000.0        Yes
6    Spain   39.0  52000.0         No
7   France   48.0      NaN        Yes
8  Germany   50.0  83000.0         No
9   France   37.0  67000.0        Yes

In [13]:
#data_proc.isna()

In [39]:
x=df1.iloc[:,:-1]
x

   Country   Age   Salary
0   France   44.0  72000.0
1       NaN  27.0  48000.0
2  Germany    NaN  54000.0
3    Spain   39.0      NaN
4  Germany    NaN  64000.0
5   France   35.0  58000.0
6    Spain   39.0  52000.0
7   France   48.0      NaN
8  Germany   50.0  83000.0
9   France   37.0  67000.0

In [41]:
y=df1.iloc[:,-1:]
y

  Purchased
0         No
1        Yes
2         No
3         No
4        Yes
5        Yes
6         No
7        Yes
8         No
9        Yes